*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    background-color: #141414;
}

h2{
    font-weight: 800;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
}

.card{
    border-radius: 15px;
    background-color: #1F1F1F;
    background-repeat: no-repeat;
    height: 560px;
    width: 350px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.attribution {
    font-size: 11px;
}

.attribution a{ 
    color: #3e52a3; 
}

.attribution a:hover{
    text-decoration:underline;
}

.perfil{
    font-weight: 600px;
    margin: 0 0 15px 0;
}

.perfil img{
    border-radius: 50%;
    margin: 20px 0;
}

.perfil p{
    font-size: 15px;
    color: #c5f82a;
}

p{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 90%;
    margin: 10px auto 0;
}

nav ul{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

nav ul li{
    width: 80%;
    margin: 13px auto;
    list-style: none;
}

nav ul li a{
    display: block;
    width: 100%;
    background-color: #333333;
    border-radius: 8px;
    padding: 12px 0px;
}

nav ul li a:hover{
    color: #1f1f1f;
    background-color: #c5f82a;
    font-weight: 600;
}

@media (max-width: 375px){
    .card{
        height: 560px;
        width: 90%;
    }
}